<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="board.css" rel="stylesheet" type="text/css">

</head>

<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<div class="wrap">

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid mx-4">

                <a class="navbar-brand fs-2" href="../">Home</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active fs-3" aria-current="page" href="/boards">Board</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item" th:if="${session.loginUser == null}">
                            <a class="nav-link active fs-3" aria-current="page" href="/users/login">Sign In</a>
                        </li>

                        <li class="nav-item" th:if="${session.loginUser == null}">
                            <a class="nav-link active fs-3" aria-current="page" href="/users/join">Sign Up</a>
                        </li>

                        <li class="nav-item" th:if="${session.loginUser != null}">
                            <a class="nav-link active fs-3" aria-current="page"
                               href="/users/mypage"
                               th:href="@{/users/{userId}(userId=${session.loginUser.getId()})}">
                                My Page
                            </a>
                        </li>

                        <li class="nav-item" th:if="${session.loginUser != null}">
                            <a class="nav-link active fs-3" aria-current="page" href="/users/logout">Logout</a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>

    </header>

    <br>

    <div class="myContainer"
         style="overflow:auto">

        <div class="post">

            <div class="postHeader">
                <h1 th:text="${board.title}">테스트 게시글1</h1>
            </div>

            <div class="postInfo">

                <div class="btnList">

                    <div class="btnBack">
                        <button type="button"
                                th:onclick="|location.href='@{/boards}'|"
                                class="btn btn-outline-success">
                            목 록
                        </button>
                    </div>

                    <button type="button"
                            th:onclick="|location.href='@{/boards/write}'|"
                            th:if="${session.loginUser.id == board.user}"
                            class="btn btn-outline-primary mx-2">
                        수 정
                    </button>

                    <form action="#" th:action="@{'/boards/{boardId}'(boardId=${board.id})}"
                          th:if="${session.loginUser.id == board.user}"
                          th:method="delete">
                        <button type="submit" class="btn btn-outline-danger">
                            삭 제
                        </button>
                    </form>
                </div>

                <div class="postUser">
                    <h5 class="user">작성자 : &nbsp</h5>
                    <h5 th:text="${board.user}">User01</h5>
                </div>

                <div class="postEtc">
                    <h5 class="date">날 &nbsp&nbsp&nbsp짜 : &nbsp</h5>
                    <h5 class="date" th:text="${board.dateTime}">21.08.08</h5>
                    <div class="postEtcViews">
                        <h5 class="date">&nbsp&nbsp&nbsp&nbsp조회 &nbsp</h5>
                        <h5 th:text="${board.views}"> 1 </h5>
                    </div>
                </div>

            </div>

            <div class="postContent"
                 style="overflow:auto">
                <div class="contents" th:utext="${#strings.replace(board.content, nlString, '&lt;br /&gt;')}">
                    게시글 내용
                </div>
            </div>

            <div class="postEnd">

                <div>
                    <button type="button" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                        <span>좋아요</span>
                        <span th:text="${board.favorite}">10</span>
                    </button>
                </div>

                <div class="commentCount">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-square-dots" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                    </div>
                    <div class="commentCountText">
                        <span>댓 글</span>
                        <span th:text="${board.favorite}">10</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="commentArea"
             style="overflow:auto">

            <div class="commentFormArea">

                <form class="formWrite">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here"
                                  id="floatingTextarea" style="resize: none"></textarea>
                        <label for="floatingTextarea">댓글을 남겨보세요</label>
                    </div>
                    <div class="formButton">
                        <button type="submit" class="btn btn-primary">작 성</button>
                    </div>
                </form>

                <div class="commentErr" th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                       th:text="${err}">댓글을 작성해주세요</p>
                </div>

            </div>

            <div class="commentLevelOne">

                <div class="commentOwner">
                    <h6>
                        User02
                    </h6>
                </div>

                <div class="commentContentOuter">

                    <div class="commentContent"
                         style="overflow:auto"
                         th:utext="${#strings.replace(comment.content, nlString, '&lt;br /&gt;')}">
                        댓글 내용
                    </div>

                </div>

                <div class="commentEtc">
                    <span>&nbsp&nbsp&nbsp&nbsp</span>
                    <span class="commentTime">
                        21.08.09 12:31
                    </span>
                    <span>&nbsp</span>
                    <span class="commentReply">
                        답글쓰기
                    </span>
                </div>

            </div>

            <div class="commentLevelTwo">

                <div class="commentOwner">
                    <h6>
                        User03
                    </h6>
                </div>

                <div class="commentContentOuter">

                    <div class="commentContentTwo"
                         style="overflow:auto"
                         th:utext="${#strings.replace(comment.content, nlString, '&lt;br /&gt;')}">
                        대댓글 내용
                    </div>

                </div>

                <div class="commentEtc">
                    <span>&nbsp&nbsp&nbsp&nbsp</span>
                    <span class="commentTime">
                        21.08.09 12:48
                    </span>
                </div>

            </div>

        </div>

    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">ⓒ 2021 Company, Inc. ·Privacy ·Terms</span>
        </div>
    </footer>

</div>

</body>

</html>