<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>

    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link th:href="@{/css/writeForm.css}"
          href="../../static/css/writeForm.css" rel="stylesheet">

</head>

<body>

<div class="wrap">

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid mx-4">

                <a class="navbar-brand fs-2" href="../">Home</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active fs-3" aria-current="page" href="/boards">Board</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item" th:if="${session.loginUser == null}">
                            <a class="nav-link active fs-3" aria-current="page" href="/users/login">Sign In</a>
                        </li>

                        <li class="nav-item" th:if="${session.loginUser == null}">
                            <a class="nav-link active fs-3" aria-current="page" href="/users/join">Sign Up</a>
                        </li>

                        <li class="nav-item" th:if="${session.loginUser != null}">
                            <a class="nav-link active fs-3" aria-current="page"
                               href="/users/mypage"
                               th:href="@{/users/{userId}(userId=${session.loginUser.getId()})}">
                                My Page
                            </a>
                        </li>

                        <li class="nav-item" th:if="${session.loginUser != null}">
                            <a class="nav-link active fs-3" aria-current="page" href="/users/logout">Logout</a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>

    </header>

    <div class="myContainer row">

        <div class="containerHeader">
            <h1>글쓰기</h1>
        </div>

        <form th:action="@{'/boards/write'}"
              action="board.html"
              th:object="${form}" method="post">

            <input type="hidden" id="boardId" th:field="${form.boardId}">

            <div class="formTitle">
                <div class="ips mb-3">

                    <label for="title" class="form-label fs-4">제 목</label>

                    <input type="text" id="title" th:field="${form.title}"
                           th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요.">

                    <div class="field-error" th:errors="*{title}">
                        제목 오류
                    </div>

                </div>
            </div>

            <div class="formContent">
                <div class="ips mb-3">

                    <label for="content" class="form-label fs-4">내 용</label>

                    <textarea class="form-control" id="content" rows="3" th:field="${form.content}"
                              style="resize: none" th:errorclass="field-error" placeholder="내용을 입력하세요.">
                    </textarea>

                    <div class="field-error" th:errors="*{content}">
                        내용 오류
                    </div>

                </div>
            </div>

            <div class="writeBtn">

                <button type="button" class="btn btn-secondary mx-2"
                        th:onclick="|location.href='@{/boards}'|">취 소</button>

                <button type="submit"
                        class="btn btn-primary">
                    <span th:if="${form.boardId == null}">작 성</span>
                    <span th:if="${form.boardId != null}">수 정</span>
                </button>

            </div>

        </form>

    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">ⓒ 2021 Company, Inc. ·Privacy ·Terms</span>
        </div>
    </footer>

</div>

</body>

</html>