<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link th:href="@{/css/login.css}"
          href="../../static/css/login.css" rel="stylesheet">

</head>
<body>

<div class="wrap">

    <!-- 로그인 -->
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid mx-4">

                <a class="navbar-brand fs-2" href="../">Home</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active fs-3" aria-current="page" href="/boards">Board</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link active fs-3" aria-current="page" href="/users/login">Sign In</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active fs-3" aria-current="page" href="/users/join">Sign Up</a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>

    </header>

    <div class="myContainer">

        <div class="signHeaderText">
            <h1>로그인</h1>
        </div>

        <div class="signInForm">
            <form class="login" th:action th:object="${form}" method="post">

                <div class="formUserId">
                    <label for="id" class="form-label fs-5">I D</label>
                    <input type="text" id="id" class="form-control" th:field="${form.id}"
                           th:errorclass="field-error" placeholder="아이디를 입력하세요">
                </div>

                <div class="formUserPassword">
                    <label for="password" class="form-label fs-5">Password</label>
                    <input type="password" id="password" class="form-control" th:field="${form.password}"
                           th:errorclass="field-error" placeholder="비밀번호를 입력하세요">
                </div>

                <div class="formErr">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                       th:text="${err}">로그인 오류</p>
                </div>

                <div class="formBtn">
                    <button type="submit" class="btn btn-primary my-3 col-12 fs-5">로그인</button>
                </div>
            </form>
        </div>

        <div class="findPassword">

        </div>

        <div class="signUp">

        </div>

    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">ⓒ 2021 Company, Inc. ·Privacy ·Terms</span>
        </div>
    </footer>

</div>

</body>
</html>