            html {
                height : 100%;
            }

            body {
                margin : 0;
                height : 100%;
            }

            .wrap {
                min-height : 100%;
                padding-bottom : 19px;
<!--                position : relative;-->
            }

            header {
<!--                border:1px solid #cccccc;-->
            }

            a:hover {
                text-decoration: underline;
            }

            .myContainer {
                width : 760px; height : 620px;
                margin : 70px auto;
<!--                border:1px solid #cccccc;-->
            }

            .containerHeader {
                width : 760px; height : 60px;
                overflow : hidden;
<!--                border:1px solid #cccccc;-->
            }

            .containerHeaderText {
                margin-top: 6px;
                float: left;
            }

           .searchForm {
                width: 263px; height: 40px;
                float: right;
                margin-top: 8px;
                margin-right: -12px;
                overflow: hidden;
<!--                border:1px solid #cccccc;-->
            }

            .searchForm div {
                float: left;
            }

            .searchText {
                width: 200px;
            }

            .searchBtn {
                margin-left: 4px;
            }

            .boardList {
                width: 760px; height: 465px;
                margin-top: 10px;
<!--                border:1px solid #cccccc;-->
            }

            .boardList::-webkit-scrollbar {
                display: none;
            }

            .writeBtn {
                width: 760px; height: 40px;
                overflow: hidden;
<!--                border:1px solid #cccccc;-->
            }

            .writeBtn button {
                margin-right: -9px;
                float: right;
<!--                border:1px solid #cccccc;-->
            }

            .pageBtn {
                width: 760px; height: 40px;
                text-align: center;
<!--                border:1px solid #cccccc;-->
            }

            .pageBtn nav {
                display: inline-block;
            }

            footer {
                width:100%;
                height:60px;
                position:absolute;
                bottom:0;
            }